.Navigation {
  font-size: 1.4rem;
}
.Navigation__link,
.Navigation__link:visited {
  color: #fff;
}
.Navigation__open {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 48px;
  width: 48px;
}
.Navigation__openIcon {
  fill: #fff !important;
}
