/* BLOCK */
.Navigation {
  font-size: 1.4rem;
}
/* ELEMENT */
.Navigation__dialectHeader {
  font-weight: 500;
  margin: 0;
  font-size: 26px;
  line-height: 1.2;
}
.Navigation__dialectLink {
  min-height: 64px;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 5px 0 5px 8px;
  cursor: default;
}
.Navigation__dialectLink:hover,
.Navigation__dialectLink:visited {
  text-decoration: none;
}
.Navigation__dialectName {
  margin-left: 15px;
}
.Navigation__dialectContainer {
  min-height: 64px;
  margin: 0;
}
.Navigation__logo {
  margin-right: 15px;
}
.Navigation__link {
  margin: 0 10px;
}
.Navigation__link,
.Navigation__link:visited {
  color: #fff;
}
.Navigation__localeContainer {
  display: none;
}
.Navigation__localeInner {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.Navigation .Navigation__localeTitle {
  margin-right: 15px;
}

.Navigation__popoverInner {
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
}

.Navigation__separator {
  width: 1px;
  background-color: rgba(0, 0, 0, 0.175);
  height: 32px;
  margin: 0 4px;
  display: inline-block;
}
.Navigation__separator + .Navigation__separator {
  display: none;
}
.Navigation__searchContainer {
  flex-shrink: 0;
}
.Navigation .Navigation__searchInput {
  margin-left: 30px;
  font-size: 15px;
  background-color: #fff;
  padding: 10px 40px 10px 10px;
  line-height: 1.2;
}
.Navigation__searchPopupContainer {
  position: relative;
  outline: none;
}
.Navigation__searchPopup {
  max-width: 220px;
  z-index: 8;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.12);
}

.Navigation__toolbarMain {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.12);
}
.Navigation__toolbarMainInner {
  position: relative;
  margin-left: auto;
  display: flex;
  align-items: center;
}

/* MODIFIERS */
@media (max-width: 650px) {
  .Navigation__dialectName {
    font-size: 0.7em;
  }

  .Navigation__searchInput {
    margin-left: 15px;
    width: 214px;
    padding-right: 0;
  }

  .Navigation__searchContainer {
    position: fixed;
    display: flex;
    flex-direction: column-reverse;
    bottom: -171px;
    left: 0;
    width: 100%;
    z-index: 99999;
  }
  .Navigation__searchContainer--active {
    bottom: 0;
  }
  .Navigation__searchPopup {
    top: initial;
    bottom: 0;
  }
  .Navigation__searchPopup--dialect {
    max-width: 100%;
    width: 100%;
  }
}
.Navigation__searchPopup--dialect {
  max-width: 320px;
}
.Navigation__localeContainer--open {
  display: flex;
  flex-direction: row-reverse;
}
.Navigation__searchContainerInner {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.Navigation__immersionSwitch {
  color: #fff!important;
}
.Navigation__immersionSwitch label {
  margin-bottom: 0px;
}