/* BLOCK */
.WorkspaceSwitcher {
  padding: 0;
  margin: 0;
  display: flex;
  list-style-type: none;
}
/* ELEMENT */
.WorkspaceSwitcher__itemContainer {
  margin-left: 10px;
  border-radius: 0;
}

.WorkspaceSwitcher__item {
  border: none;
  color: #000;
  display: flex;
  height: 100%;
  align-items: center;
  padding: 10px 15px;
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.WorkspaceSwitcher__item:hover,
.WorkspaceSwitcher__item:focus {
  background-color: rgba(255, 255, 255, 0.5);
}

/* MODIFIER */
.WorkspaceSwitcher--section .WorkspaceSwitcher__item:hover,
.WorkspaceSwitcher--section .WorkspaceSwitcher__item:focus {
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
}
.WorkspaceSwitcher--workspace .WorkspaceSwitcher__item:hover,
.WorkspaceSwitcher--workspace .WorkspaceSwitcher__item:focus {
  background-color: rgba(77, 148, 141, 0.5);
  color: #000;
}
.WorkspaceSwitcher__itemContainer--active .WorkspaceSwitcher__item {
  color: #000;
  background-color: rgba(255, 255, 255, 1);
}

.WorkspaceSwitcher--workspace .WorkspaceSwitcher__itemContainer--active .WorkspaceSwitcher__item {
  color: #fff;
  background-color: rgba(77, 148, 141, 1);
}
