.Tasks__approveRejectContainer {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 1000px) {
  .Tasks__approveRejectContainer {
    flex-direction: column;
    padding: 5px;
    justify-content: space-between;
  }
  .Tasks__reject {
    margin-top: 5px;
  }
}
.Tasks__colHeader {
  font-size: 2rem;
  line-height: 1.2;
  color: #000;
}
.Tasks__colHeader--actions {
  text-align: center;
  display: inline-block;
  width: 100%;
}
.Tasks__taskTitle {
  white-space: normal;
  font-size: 1.8rem;
  line-height: 1.2;
  width: 100%;
  justify-content: left;
  text-align: left;
  text-transform: none;
  margin: 5px;
}
.Tasks__taskType {
  font-size: 1.8rem;
  line-height: 1.2;
}
.Tasks__taskDueDate {
  font-size: 1.8rem;
  line-height: 1.2;
}

.Tasks__taskTypeContainer,
.Tasks__taskDueDateContainer {
  white-space: normal !important;
  text-overflow: initial !important;
}
