.Tasks__approveRejectContainer {
  display: flex;
}
.Tasks__approveRejectContainer .Tasks__approve,
.Tasks__approveRejectContainer .Tasks__reject {
  margin: 5px;
}
.Tasks__colHeader {
  font-size: 2rem;
  line-height: 1.2;
  color: #000;
}
.Tasks__colHeader--actions {
  text-align: center;
  display: inline-block;
  width: 100%;
}
.Tasks__taskTitle {
  font-size: 1.8rem;
  line-height: 1.2;
  margin: 5px;
  background-color: #fff;
}
.DictionaryList__data .Tasks__taskTitle {
  background-color: #fff;
}
.Tasks__taskType {
  font-size: 1.8rem;
  line-height: 1.2;
}
.Tasks__taskDueDate {
  font-size: 1.8rem;
  line-height: 1.2;
}

.Tasks__taskTypeContainer,
.Tasks__taskDueDateContainer {
  white-space: normal !important;
  text-overflow: initial !important;
}

@media (max-width: 1000px) {
  .Tasks__approveRejectContainer {
    flex-direction: column;
    padding: 5px;
    justify-content: space-between;
  }
  .Tasks__reject {
    margin-top: 5px;
  }
}
@media (max-width: 650px) {
  .Tasks__approveRejectContainer .Tasks__approve,
  .Tasks__approveRejectContainer .Tasks__reject {
    margin: 0 0 5px;
  }
}
