**/node_modules
**/package-lock.json
pom.xml
index.html
build
**/README.md
**/yarn.lock
**/package.json
cypress
**/__mocks__
**/__tests__
coverage
nuxeo
license-header-template.txt
gulpfile.js
build.xml
LICENSE

app/assets/favicons
app/assets/fonts
app/assets/games
app/assets/images

app/assets/libraries
app/assets/stylesheets
app/assets/vendor

app/assets/javascripts/models/data