.category-link {
  display: block;
  text-decoration: none;
  padding: 10px;
  flex-grow: 1;
  border: 1px solid transparent;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  font-size: 16px;
  font-weight: 400;
  width: 100%;
}

.category-link:visited {
  color: #b40000;
}

.category-link:hover {
  background-color: #fbe8e8;
  color: #820000;
  text-decoration: none;
  border-color: #820000;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.1), 0 5px 5px rgba(0, 0, 0, 0.04);
}

.category-parent {
  width: 100%;
}

.category-parent.checked {
  border-left: 3px solid #820000;
}
.category-parent.checked .category-parent.checked {
  border-left: none;
}

.category-parent.active .category-link:not(.active) {
  background-color: #fbe8e8;
}

.category-parent.active .category-link:not(.active):hover {
  background-color: #f1cac9;
  box-shadow: 0 0 0 transparent, 0 0 0 transparent;
}

.category-link.active,
.category-link.active:hover {
  color: #820000;
  background-color: #f1cac9;
  box-shadow: 0 0 0 transparent, 0 0 0 transparent;
}

@media (max-width: 991px) {
  .categories {
    display: block !important;
    max-height: 120px;
    overflow: auto;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12);
  }
}
