.DS_Store
**/.DS_Store
.sass-cache
.project
public
Desktop.ini
node_modules
app/assets/stylesheets/generated
.happypack
.vscode
.idea
target
target/
/target
.classpath
.settings
.factorypath
nashorn_code_cache
/frontend/fv-utils/
/frontend/fv-batch-import/
/frontend/scripts/files/import.log
/fontend/scripts/files/*_errors.csv
*.iml
/frontend/cypress/videos/
/frontend/cypress/screenshots/
/docker/First-Voices-LATEST.zip
/docker/First-Voices-marketplace-package-LATEST.zip
/docker/nuxeo_dev_docker/