.deleteConfirmation {
  display: none;
}

.delete--confirmation .deleteConfirmation {
  display: block;
}
.delete--confirmation .deleteInitiate {
  display: none;
}
.deleteConfirmation__initiate {
  border: 2px solid #fff;
  background-color: #fff;
  border-color: #fff;
  color: #06588c;
}
.deleteConfirmation__deny {
  /*
  color: #292c46;
  background-color: #3fbfff;
  */
  border-radius: 4px 0 0 4px;
  border: 2px solid #06588c;
  border-right-width: 1px;
  color: #06588c;
  background-color: #fff;
}
.deleteConfirmation__deny:active,
.deleteConfirmation__deny:hover {
  border-radius: 4px 0 0 4px;
  color: #fff;
  background-color: #06588c;
  border-color: #06588c;
}
.deleteConfirmation__confirm {
  border-radius: 0 4px 4px 0;
  border: 2px solid #06588c;
  border-left-width: 1px;
  color: #06588c;
  /*
  background-color: #ffdc3f;
  color: rgb(51, 51, 51);
  */
}
.deleteConfirmation__confirm:active,
.deleteConfirmation__confirm:hover {
  border-radius: 0 4px 4px 0;
  color: #06588c;
  background-color: #ffdc3f;
  /* border-color: #ffdc3f; */
}

.Contributor {
  margin-bottom: 7rem;
  max-width: 750px;
}
.Contributor .Text,
.Contributor .Textarea,
.Contributor .File {
  margin-bottom: 3.5rem;
}
.FormContributor__photo .File {
  flex-grow: 1;
}

.Contributor__btn-container {
  display: flex;
}
.Contributor__btn-container .delete {
  align-self: flex-end;
  padding-left: 3.2rem;
}

.Contributor__content {
  display: flex;
  /* flex-direction: row-reverse; */
}
.Contributor__graphic {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Contributor__graphicInner {
  text-align: center;
  /* padding: 5vw; */
}
.Contributor__main {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.Contributor__mainInner {
  padding: 3rem;
  /* min-width: 40rem; */
}

.Contributor__heading {
  font-size: 3rem;
}
.Contributor--detail .Contributor__heading {
  font-size: 1.8rem;
  font-weight: 100;
  margin: 0 0 2rem 0;
}
.Contributor__name {
  font-size: 2.4rem;
  margin: 0 0 2rem 0;
}
.Contributor__description {
  font-size: 1.8rem;
  margin: 0 0 1rem 0;
}
.Contributor__photo {
  width: 100%;
  height: auto;
}
.Contributor__photoFilename {
  font-size: 1rem;
}

.Contributor--create {
}
.Contributor--detail {
  margin-right: -15px;
  margin-left: -15px;
}
.Contributor--errorBoundary {
}
.Contributor--successCreate {
}
.Contributor--successDelete {
}
.Contributor--successEdit {
}
.Contributor--unavailable {
}
