/* BLOCK */
/* 
.Confirmation {
} 
*/

/* ELEMENT */
.Confirmation__confirmOrDeny {
  display: none;
}
.Confirmation__btnInitiate {
  border: 2px solid #fff;
  background-color: #fff;
  border-color: #fff;
  color: #06588c;
}
.Confirmation__btnDeny {
  border-radius: 4px 0 0 4px;
  border: 2px solid #06588c;
  border-right-width: 1px;
  color: #06588c;
  background-color: #fff;
}
.Confirmation__btnDeny:active,
.Confirmation__btnDeny:hover {
  color: #fff;
  background-color: #06588c;
  border-color: #06588c;
}
.Confirmation__btnConfirm {
  border-radius: 0 4px 4px 0;
  border: 2px solid #06588c;
  border-left-width: 1px;
  color: #06588c;
}
.Confirmation__btnConfirm:active,
.Confirmation__btnConfirm:hover {
  color: #06588c;
  background-color: #ffdc3f;
}
.Confirmation__busy,
.la-ball-fall.Confirmation__busy {
  display: none;
}
.Confirmation__confirmOrDenyTitle {
  padding: 0;
  font-size: 1.6rem;
  margin: 0 0 0.5rem;
  line-height: 1.2;
  font-weight: 500;
}

/* MODIFIER */
.Confirmation--isConfirmOrDeny .Confirmation__confirmOrDeny {
  display: flex;
  flex-direction: column;
}
.Confirmation--isConfirmOrDeny .Confirmation__initiate {
  display: none;
}
.Confirmation--isConfirmOrDeny.Confirmation--compact {
  flex-direction: column;
}
.Confirmation--reverse {
  display: flex;
  flex-direction: row-reverse;
}
.Confirmation--reverse .Confirmation__confirmOrDenyInner {
  flex-direction: row-reverse;
  display: flex;
}
.Confirmation--reverse .Confirmation__btnDeny {
  border-radius: 0 4px 4px 0;
  border-left-width: 1px;
  border-right-width: 2px;
}
.Confirmation--reverse .Confirmation__btnConfirm {
  border-radius: 4px 0 0 4px;
  border-right-width: 1px;
  border-left-width: 2px;
}
.Confirmation__btnConfirm {
  display: flex;
  align-content: center;
  justify-content: center;
}

.Confirmation--reverse .Confirmation__confirmOrDenyTitle {
  text-align: right;
  color: #000;
}
.Confirmation--isPerformingAction .Confirmation__busy {
  display: block;
}
.Confirmation--isPerformingAction .Confirmation__btnConfirmText {
  display: none;
}
