.translation-cell {
  vertical-align: middle;
}

.template-span {
  background: #e5e5e5;
  font-weight: 600;
  padding: 2px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.translation-cell:hover .template-span {
  background: #ddb7b5;
  color: #7d0000;
}

.untranslated {
  float: right;
  padding-left: 5px;
}
