.AppLeftNav__close {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 48px;
  width: 48px;
}
.AppLeftNav__closeIcon {
  fill: #fff !important;
}
.AppLeftNav__toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.AppLeftNav__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
}
