.FlatButton {
  border: 10px;
  background: none rgba(0, 0, 0, 0);
  box-sizing: border-box;
  display: inline-block;
  font-style: inherit;
  font-variant: inherit;
  font-stretch: inherit;
  font-family: Arial, sans-serif;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  transform: translate3d(0px, 0px, 0px);
  vertical-align: middle;
  color: rgb(38, 166, 154);
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  font-size: 14px;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 2px;
  user-select: none;
  position: relative;
  overflow: hidden;
  line-height: 36px;
  min-width: 88px;
  padding: 0px 16px;
  margin: 0px;
}
.FlatButton:hover {
  background: none rgba(153, 153, 153, 0.2);
  text-decoration: none;
}
