
.Form__group {
    margin: 10px;
    padding: 10px;
    border: none;
    background-color: rgba(0,0,0,0.025);
}
.Form__errorMessage {
    font-weight: 400;
    padding: 10px;
    margin-top: 1px;
    color: #f44336;
    border-top: 2px solid #f44336;
}