$button-import: #b40000;
$button-primary: #b40000;
$column-background: #b40000;
$default-font: 'Lucida Grande', Arial, Helvetica, Geneva, sans-serif;
$footer-background: #555555;
$footer-links: #fff;
$header-background: #B40000;
$header-links: #eeeeee;
$header-tabs: #00adff;
$link: #660000 #660000;
$link-hover: #660000 #660000;
$page-background: #e6f1ff #e6f1ff;
$tabs-horizontal-color: #b40000;
$tabs-vertical-color: #c6c6c6;
