// Main Stylesheet
//
// Global styles
// Define all of your global styles within this file
//
// Styleguide 1.

// Box sizing partial styles:
// Apply a natural box layout model to all elements

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// Variables
@primary-color: #AA1225;

/*.container-fluid{
  padding:0;
}*/

.app-wrapper{
  background-color:#fff;
  /*border:1px solid rgb(224, 224, 224);*/

  .main{
    margin: 10px 25px;
    min-height:70vh;

    @media(max-width: 480px) {
      margin-right:5px;
      margin-left:5px;
    }
  }

  .footer{
    .row{
      margin:0;
    }
  }
}

// Injects all bower_component files automatically
// bower:less
// endbower

// Injects all import files automatically (ex. _mypartial)
// [injector]
// [endinjector]

.yeogurt-info {
  text-align: center;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.version {
  font-size: 14px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.logo {
  margin-top: 15px;
}

.links a {
  color: white;
  margin-right: 5px;
  margin-top: 20px;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: #ed7c6c;
  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: baseline;
  text-align: center;
  cursor: pointer;
  font-size: 100%;
  padding: .5em 1em;
  text-decoration: none;
}

// Styling on warning for users on IE7 or below
.browsehappy {
  text-align: center;
  margin: 0;
  background: #fff8e2;
  color: #000;
  padding: 0.5em 0;
}

// Components

// Editable component

form.editableComponentForm{
  fieldset{

    width: 72%;
    margin-right: 5px;

    display: inline;


    div.form-group {
      margin: 0;
    }

    label {
      display: none;
    }

    input {
      padding: 2px 4px;
      height: inherit;
    }

    select{
      width:100%;
    }
  }

  button {
    padding: 0px 4px;
    margin-left: 2px;
  }
}

.fv-portal-greeting{
  form.editableComponentForm{

    min-width: 400px;

    fieldset{
      width: 85%;
    }
  }
}

.fv-portal-about{
  form.editableComponentForm{

    fieldset{
      width: 100%;
    }

    button {
      padding: 6px 12px;
      margin: 10px 0;
    }
  }
}

.toolbar{
  padding:0!important;
}

.footer {
    width: 100%;
    min-height:20vh;
    background-color: #f5f5f5;
    border:0;
    border-top:1px #DEDEDE solid;
    padding-top: 15px;

    .fv-small-logo{
      padding-right:15px;
      padding-top:5px;
    }
}

/**
* Introduction page
*/
body.introduction{
  background-color:@primary-color;

  .app-wrapper {
    margin-top:120px;
    background-color:transparent;
    border:0;

    .supporters{
      margin-top:120px;
      background-color:#fff;
      border-radius:5px;
      padding:20px;
    }
  }
}

/**
* Play page
*/
.play-cont{
  .row{
    .well{
      h3{
        margin-top:0;
      }
      select option{
        text-transform: capitalize;
      }
    }
  } 
}

.gameWrapperView{
  .quiz-container, .multiquiz-container{

    .imgCont{
      overflow:hidden;
      .image{
        max-width:100%;
      }
    }

    .imgContAnswer{
      width:100%;
      overflow:hidden;
      .image{
        max-width:100%;
        margin:0;
        border: 3px solid black;
      }
    }

    .selectedImgContAnswer{
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);

      .image{
        border: 3px solid #45e4d3;
      }
    }

    .row-answers > div {
      margin:10px 0;
    }

    .row-navigation {
      margin:10px 0;
    }
  }
}

/**
* Browse langauges page
*/
.languages-cont{
  .row{
    .well{
      h3{
        margin-top:0;
      }
    }
  }
}

audio,video{
  width:100%;
}

/**
* Browse grid componenet
*/
.react-datagrid{
  .label-spaced{
    margin-right: 5px;
    background-color: #303030;
    font-size:100%;
    font-weight: normal;
  }
  .innerRowTable{
    border:1px solid #C3C3C3;

    td,th{
      padding-right: 5px;
      padding-left: 5px;
    }
  }
}

/**
* Detail Word View
*/
.image{
  /*width:100%;*/
  height:auto;
  margin:10px 0;
  max-width:500px;
  text-align:center;
}

/**
* Edit Word View
*/
.form-horizontal fieldset > .btn{
  float:right;
  margin-right:12px;
  background-color:#EBF4B6;
}

/**
* Contribute 
*/
.contribute-cont{
  .row{
    .well{
      h3{
        margin-top:0;
      }
    }
  }
}


.flex-container {
  margin: auto;
  max-width: 1200px;

    .responsive-image {
      max-width: 100%;
    }

    .cell {
      margin:1rem;
      position: relative;
      img {
        display: block;
      }
    }

    @media screen and (min-width: 600px) {
      .grid {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
      }
      .cell {
        width: calc(48% - 2rem);
      }
    }

    @media screen and (min-width: 1000px) {
      .cell {
        width: calc(33.3333% - 2rem);
      }
    }

}

/**
* Pagination
*/
.pagination{
  margin: 0;

  .pagination-page{
      height: 43px;
      font-size: 20px;
      width: 45px;
      text-align: center;
      padding: 6px 0!important;
  }
}

/**
* Themes
*/
.page-default-theme{
  margin-top: 25px;
}

.page-kids-theme{
  margin-top: 0;
  height: 80vh;

  .row:first-child{
    padding: 25px 0;
    height: 80vh;
  }
}

.breadcrumb{
  margin-top: 10px;
}

.admin-guide-step{
  width: 300px;
}

/*

// Remove audio download button workaround
// See http://stackoverflow.com/questions/39602852/disable-download-button-for-google-chrome/40975859#40975859
audio::-webkit-media-controls {
    overflow: hidden !important
}
audio::-webkit-media-controls-enclosure {
    width: calc(100% + 12px);
    margin-left: auto;
}
*/