// Main Stylesheet
//
// Global styles
// Define all of your global styles within this file
//
// Styleguide 1.

// Box sizing partial styles:
// Apply a natural box layout model to all elements

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// Variables
@primary-color: #AA1225;
@mobile-xs-width: 480px;

/*.container-fluid{
  padding:0;
}*/

.app-wrapper{
  background-color:#fff;
  font-family: Roboto, sans-serif;
  /*border:1px solid rgb(224, 224, 224);*/

  .main{
    margin: 10px 25px;
    min-height:70vh;

    @media(max-width: @mobile-xs-width) {
      margin-right:5px;
      margin-left:5px;
    }
  }

  .footer{
    .row{
      margin:0;
    }
  }
}

// Injects all bower_component files automatically
// bower:less
// endbower

// Injects all import files automatically (ex. _mypartial)
// [injector]
// [endinjector]

.yeogurt-info {
  text-align: center;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.version {
  font-size: 14px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.logo {
  margin-top: 15px;
}

.links a {
  color: white;
  margin-right: 5px;
  margin-top: 20px;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: #ed7c6c;
  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: baseline;
  text-align: center;
  cursor: pointer;
  font-size: 100%;
  padding: .5em 1em;
  text-decoration: none;
}

// Styling on warning for users on IE7 or below
.browsehappy {
  text-align: center;
  margin: 0;
  background: #fff8e2;
  color: #000;
  padding: 0.5em 0;
}

// Components

// Editable component

form.editableComponentForm{
  fieldset{

    width: 72%;
    margin-right: 5px;
    display: inline;

    div.form-group {
      margin: 0;
    }

    label {
      display: none;
    }

    input {
      padding: 2px 4px;
      height: inherit;
    }

    select{
      width:100%;
    }
  }

  .fieldset-fv-portal\:related_links,
  .fieldset-fvdialect\:keyboards{
    width: 100%;
  }

  button {
    padding: 0px 4px;
    margin-left: 2px;
  }
}

.fv-portal-greeting{
  form.editableComponentForm{

    min-width: 400px;

    fieldset{
      width: 85%;
    }
  }
}

.fv-portal-about{
  form.editableComponentForm{

    fieldset{
      width: 100%;
    }

    button {
      padding: 6px 12px;
      margin: 10px 0;
    }
  }
}

.toolbar{
  padding:0!important;
}

.footer {
    width: 100%;
    min-height:20vh;
    background-color: #f5f5f5;
    border:0;
    border-top:1px #DEDEDE solid;
    padding-top: 15px;
    margin-top: 30px;

    .fv-small-logo{
      padding-right:15px;
      padding-top:5px;
    }
}

/**
* Home
*/
.home-intro-block{
  width: 35%;
  position: absolute;
  bottom: 15%;
  right: 10%;
  padding: 0 15px 15px 25px;
  color: #ffffff;
  text-shadow: #000 2px 0 15px;
  font-size: 1.5em;
  background: rgba(0,0,0,0.5);
  border-radius: 4px;
}

/**
* Introduction page
*/
body.introduction{
  background-color:@primary-color;

  .app-wrapper {
    margin-top:120px;
    background-color:transparent;
    border:0;

    .supporters{
      margin-top:120px;
      background-color:#fff;
      border-radius:5px;
      padding:20px;
    }
  }
}

/**
* Play page
*/
.play-cont{
  .row{
    .well{
      h3{
        margin-top:0;
      }
      select option{
        text-transform: capitalize;
      }
    }
  } 
}


.quiz-container, .multiquiz-container{

  margin-top: '15px';

  .imgCont{
    overflow:hidden;
    .image{
      max-width:100%;
    }
  }

  .imgContAnswer{
    width:100%;
    overflow:hidden;
    .image{
      max-width:100%;
      margin:0;
      border: 3px solid black;
    }
  }

  .selectedImgContAnswer{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);

    .image{
      border: 3px solid #45e4d3;
    }
  }

  .row-answers > div {
    margin:10px 0;
  }

  .row-navigation {
    margin:10px 0;

    @media screen and (max-width: @mobile-xs-width) {
      margin: 0;
      width: 100%;
    }
  }
}


/**
* Browse langauges page
*/
.languages-cont{
  .row{
    .well{
      h3{
        margin-top:0;
      }
    }
  }
}

audio,video{
  width:100%;
}

/**
* Browse grid componenet
*/
.react-datagrid{
  .label-spaced{
    margin-right: 5px;
    background-color: #303030;
    font-size:100%;
    font-weight: normal;
  }
  .innerRowTable{
    border:1px solid #C3C3C3;

    td,th{
      padding-right: 5px;
      padding-left: 5px;
    }
  }
}

/**
* Detail Word View
*/
.image{
  /*width:100%;*/
  height:auto;
  margin:10px 0;
  max-width:500px;
  text-align:center;
}

.grid-view-first-words{
  > div:hover{
    > img{
      filter: none !important;
    }
  }

  > div{
    filter: 'grayscale(100%) opacity(80%)';
  }
} 

/**
* Edit View
*/
.form-horizontal {

  .form-group{
    margin-left: 0;
    margin-right: 0;
  }

  fieldset > .btn {
    float:right;
    margin-right:12px;
    background-color:#EBF4B6;
   }
}

/**
* Contribute 
*/
.contribute-cont{
  .row{
    .well{
      h3{
        margin-top:0;
      }
    }
  }
}

/**
* Dialect page
*/
.dialect-info-banner{
  width: 260px ;
  height: 175px ;
  background: rgba(255, 255, 255, 0.7);
  margin: 10px 25px ;
  border-radius: 10px ;
  padding: 10px ;
  position: absolute;
  bottom: 85px;
  right: 0
}

.dialect-greeting-container{
  max-width: 70%;
  padding: 10px 30px;
  line-height: 180%;
  border-radius: 0 10px 10px 0;
  position: absolute;
  bottom: 80px;
  background-color: rgba(255,255,255, 0.5);
}

.dialect-navigation{
  position: absolute;
  bottom: 0;
  background-color:rgba(0,0,0,0.5) !important;
}

.flex-container {
  margin: auto;
  max-width: 1200px;

    .responsive-image {
      max-width: 100%;
    }

    .cell {
      margin:1rem;
      position: relative;
      img {
        display: block;
      }
    }

    @media screen and (min-width: 600px) {
      .grid {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
      }
      .cell {
        width: calc(48% - 2rem);
      }
    }

    @media screen and (min-width: 1000px) {
      .cell {
        width: calc(33.3333% - 2rem);
      }
    }

}

/**
* Pagination
*/
.pagination{
  margin: 0;

  .pagination-page{
      height: 43px;
      font-size: 20px;
      width: 45px;
      text-align: center;
      padding: 6px 0!important;
  }
}

/**
* Themes
*/
/*.page-default-theme{
  margin-top: 25px;
}*/

.page-kids-theme{
  margin-top: 0;

  .row:first-child{
    padding: 25px 0 0 0;
  }
}

.footer-kids-theme{
  margin-top:0;
}

.workspace-switcher{
  >li {
    margin-left:10px;
    border-radius: 0;

    > a {
      border-radius: 4px 4px 0 0;
      color: #000;

      &:hover, &:focus {
        background-color: #dcdcdc;
      }
    }
  }
  
  > li.active {

    border-bottom: 4px solid #a7a7a7;

    > a{
      color: #000;
      background-color: transparent;
      padding-bottom: 5px;

      &:hover, &:focus{
        background-color: #dcdcdc;
        color: #000;
      }
    }
  }
}

.breadcrumb{
  margin-top: 10px;
  background-color: transparent;

  a {
    color: #353b40;
  }
}

.admin-guide-step{
  width: 300px;
}

.map-component{
  path {
    stroke-width: 1px;
    stroke: #9d8a72;
    fill: #000;
    opacity: 0.7;
    cursor: pointer;
  }

  path:hover, path.highlighted {
    fill: #d23c2f;
  }


}

.leaflet-container{
  width: 100%;
  height: 550px;
}


  div.tooltip2 {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    color: black;
    font-weight: bold;
    padding: 4px 8px;
    display: none;
  }
/*

// Remove audio download button workaround
// See http://stackoverflow.com/questions/39602852/disable-download-button-for-google-chrome/40975859#40975859
audio::-webkit-media-controls {
    overflow: hidden !important
}
audio::-webkit-media-controls-enclosure {
    width: calc(100% + 12px);
    margin-left: auto;
}
*/

/** 
* Responsive design fixes
*/
.search-bar-mobile{
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 99999;
    position: fixed;
    border: 1px #e8e8e8 solid;
    padding: 20px 0 10px 0;
    text-align:center;

    span{
      text-align: right;
      width: 100%;
      display: inline-block;
      padding-right: 20px;
    }
}

@media screen and (max-width: @mobile-xs-width) {

  // Common

  h1{
    font-size: 1.4em;
  }

  // Navigation

  .search-bar-seperator{
    margin-right: 15px!important;
  }

  // Kids Theme

  .kids-home{
    background-size: 46%, 39%;
  }

  // Home
  .home-intro-block{
    width: 100%;
    position: relative;
    bottom: initial;
    right: initial;
    padding-top: 15px;
    margin-top: 35px;
  }

  // Dialect Page(s)

  .dialect-info-banner{
    width: 100%;
    top: 0;
    right: 0;
    margin: 0;
    height: 100%;
    background: transparent;

    .dib-header{
      top: 5px;
      right: 5px;
    }

    .dib-body{
      background: #ffffff;
      margin-top: 35px;
      padding: 20px 10px;
      border: 1px solid #ababab;
      border-radius: 5px;
      position: relative;
    }
  }

  .dialect-greeting-container{
    width: 100%;
    padding: 20px 10px;
    line-height: 140%;
    border-radius: 0;
    position: relative;
    bottom: 0;
    background-color: transparent;
    max-width: 100%;
  }

  .dialect-navigation{
    position: relative;
    height: inherit!important;

    > div {
      float: none!important;

      >button{
        float: none!important;
      }
    }
  }

  .row-create-wrapper{
    margin-bottom: 20px;
  }

  // Components -> Page Toolbar

  .page-toolbar{
    height: inherit!important;
    width: 100%!important;
    padding: 5px!important;
    min-height: 56px;

    > div:not(first-child){
      float:none!important;

      > div {
        float:none!important;
        width: 90%!important;
        margin: 15px auto!important;
        display: block!important;
      }
    }
  }

  // Components -> react-datagrid
  .react-datagrid {
    .react-datagrid-pagination-toolbar{
      > div{
        min-width:100%!important;
      }
    }

    .z-row .z-cell .z-content {
      white-space: initial!important;
    }
  }
}