.Login--busy {
  color: #fff;
  display: inline-block;
  padding-right: 10px;
}
.Login--welcome {
  display: inline-block;
  padding-right: 10px;
}
.Login--signIn {
  display: inline-block;
  padding-right: 10px;
}
